.bg-primary{
  background-color: #00305D;
}

.bg-secondary{
  background-color: #FAB331;
}

.bg-secondary:hover{
  background-color: #F9A100;
}

.text-secondary{
  color: #FAB331;
}

.active{
  background-color: #FAB331;
}

.width-main{
  width: 100%;
}

.w-card{
  width: 23%;
}

.border-rounded{
  border-radius: 10px;
}

th, td{
  padding: 11px;
}

.side-nav-height{
  height: 85%;
}

.input-width{
  width: 550px;
}

.input-width-half{
  width: 265px;
}

.w-textarea{
  max-width: 820px;
}