.bg-primary {
	background-color: #00305d;
}

.bg-primary-light {
	background-color: #0a3b68;
}

.text-primary {
	color: #00305d;
}

.bg-secondary {
	background-color: #fab331;
}

.bg-secondary:hover {
	background-color: #f9a100;
}

.text-secondary {
	color: #fab331;
}

.active {
	background-color: #fab331;
	color: #fff;
}

.width-main {
	width: 100%;
}

.w-card {
	width: 23%;
}

.border-rounded {
	border-radius: 10px;
}

th,
td {
	padding: 11px;
}

.side-nav-height {
	height: 85%;
}

.input-width {
	width: 550px;
}

.input-width-half {
	width: 265px;
}

.w-textarea {
	max-width: 820px;
}
